* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
   
    width: auto;
    top:360px;
    
    
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */
.next {
   
    right: 800px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

/* The dots/bullets/indicators */


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.more-desc{
    margin: 6%;
    padding: 5%;
    text-align: center;
}

.more-desc h1{
    font-size:55px;
}